@model IEnumerable<MVCPagina.Models.Servicio>

@{
    Layout = null;
}
<section id="servicios">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-4">
                    <div class="pricecol">
                        @for (int i = 0; i < @item.CantidadIconos; i++)
                        {
                            <i class="fa fa-star"></i>
                        }
                        <h3><span>@item.Nombre</span></h3>
                        <ul>
                            <li><span class="feature">@item.Precio</span></li>
                            @foreach (var servicioFeature in @item.Features)
                            {
                                <li><span class="feature">@servicioFeature.Descripcion</span></li>
                            }

                        </ul>
                        <p>
                            <a class="button"><span>Más Info...</span></a>
                        </p>
                    </div>
                </div>
            }

        </div>
    </div>
</section>