<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title A&S.Solutions</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/css/css")
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="apple-touch-icon" sizes="57x57" href="/Favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/Favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/Favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/Favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/Favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/Favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/Favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/Favicon/manifest.json">
    <link rel="mask-icon" href="/Favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/Favicon/mstile-144x144.png">
    <meta name="theme-color" content="#255FA2">
    @* Windows phone *@
    <meta name="msapplication-navbutton-color" content="#255FA2">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#255FA2">
</head>
<body id="page-top" class="index">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("A&S Solutions", "Index", "Home", null, new { @class = "navbar-brand" })*@
                <a class="navbar-brand" href="#page-top">A&S Solutions</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        @Html.ActionLink("Inicio", "Index", "Home")
                        @*<a href="#portfolio">Portfolio</a>*@
                    </li>
                    <li class="page-scroll">
                        @*@Html.ActionLink("Inicio", "Index", "Home")*@
                        <a href="#portfolio">Portfolio</a>
                    </li>
                    <li class="page-scroll">
                        @*@Html.ActionLink("Inicio", "Index", "Home")*@
                        <a href="#servicios">Servicios</a>
                    </li>
                    <li class="page-scroll">
                        @*@Html.ActionLink("Acerca de", "About", "Home")*@
                        <a href="#about">Quiénes Somos</a>
                    </li>
                    <li class="page-scroll">
                        @*@Html.ActionLink("Contacto", "Contact", "Home")*@
                        <a href="#contact">Contáctenos</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    @*<div class="container body-content">*@
    @RenderBody()

    @{Html.RenderPartial("~/Views/Home/Footer.cshtml");}
    @*</div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/js/js")
    @RenderSection("scripts", required: false)
</body>
</html>
